<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/uperload.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
    <form class="uploadhai" action="/upload" method="post" enctype="multipart/form-data">
        <input class="caption" type="text" name="filecaption" placeholder="Caption here">
        <input class="file" type="file" name="file">
        <button class="upbut" type="submit">Upload</button>
      </form>
    </div>
</body>
</html>