.container{
    display:flex
}

.caption{
    margin: 30px;
}

*{
    font-size: 50px;
}

.upbut{
    margin: 30px;
    background: brown;
    color: rgb(18, 245, 215);
}

.upbut:hover{
    border-radius: 50px;
    background-color: rgb(18, 245, 215);
    color: brown;
    text-shadow: 3px 3px;
}